<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- Vim tip: set foldmethod=indent -->

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>Project Texas</title>
 	<link rel="stylesheet" type="text/css" href="tex.css"></link>
</head>

<body>
	<div id="headerLeft">
		<ul>
			<li><a href="/">
				Home</a></li>
		</ul>
		</div>
	
	<div id="headerRight">
		<h1>Project Texas</h1>
		</div>

	<div id="leftColumn">
		<p>
			<img alt="mugshot" src="mugshot.jpg"></img>
			<ul>
				<li><b>Name</b>: Woods, Jr., Steven Michael</li>
				<li><b>Race</b>: White</li>
				<li><b>TDCJ Number</b>: 999427</li>
				<li><b>Age</b>: 22</li>
				<li><b>Height</b>: 5 ft 8 in</li>
				<li><b>Education</b>:	Level 10</li>
				<li><b>County</b>: Denton</li>
			</ul>
		</p>
		</div>

	<div id="rightColumn">
		<h2>Last Statement</h2>
		<p>
		You're not about to witness an execution, you are about to witness a murder. I am strapped down for something Marcus Rhodes did. I never killed anybody, ever. I love you, Mom. I love you, Tali. This is wrong. This whole thing is wrong. I can't believe you are going to let Marcus Rhodes walk around free. Justice has let me down. Somebody completely screwed this up. I love you too, Mom. Well Warden, if you are going to murder someone, go ahead and do it. Pull the trigger. It's coming. I can feel it coming. Goodbye.
		</p>

		<h2>Summary of Incident</h2>
		<p>
		On 05/02/2001, in The Colony, Texas, Woods and 1 co-defendant used a 380 caliber pistol, a 45 caliber pistol, and a knife to kill a 21 year old white male victim by shooting the victim 6 times in the head and cutting his neck 4 times. A 19 year old white female victim was also killed by receiving 2 shots to the head, 1 shot in the knee, and cutting her throat. Woods and the co-defendant took property from the victims which included their car keys, backpacks, a cell phone and other personal items. 
		</p>
		</div>

	<div id="footerLeft">
		</div>

	<div id="footerRight">
		</div>
</body>
</html>
